<h1 onmouseover="changeDef(event, 1)">Make words work </h1>
<p onmouseover="changeDef(event, 2)">Helping your customers understand your emails and letters with spoken words, sign language, and easy-read simple English. </p>
<p onmouseover="changeDef(event, 3)">Bulk communications made accessible for people who prefer British Sign Language, spoken words, easy-read simple English, and foreign languages. </p>
<p onmouseover="changeDef(event, 4)">Improving customer comprehension for reach and compliance. </p>
<p onmouseover="changeDef(event, 5)">Written words are a problem for millions of adults. For a variety of reasons, English literacy is a barrier for 8 million adults. </p>
<h3 onmouseover="changeDef(event, 6)">Foreign Languages</h3>
<p onmouseover="changeDef(event, 6)">English is not the first language of 4 million adults living in the UK. 2% of the adult population does not speak English, and many of those who do, find English literacy a challenge. </p>
<h3 onmouseover="changeDef(event, 7)">Deaf</h3>
<p onmouseover="changeDef(event, 7)">Of 150,000 people who use British Sign Language, more than half rely on BSL as their first or only language. BSL is a different language to English, and there is no written form. </p>
<h3 onmouseover="changeDef(event, 8)">Blind and Vision Impaired</h3>
<p onmouseover="changeDef(event, 8)">Spoken words might be the only way for 1 in 20 British adults with sight loss to recieve your messaging. </p>
<h3 onmouseover="changeDef(event, 9)">Illiteracy</h3>
<p onmouseover="changeDef(event, 9)">As much as 20% of the UK population finds reading difficult, and prefer spoken to written words. 4% of adults are classified as having severe literacy difficulty. </p>
<h2 onmouseover="changeDef(event, 10)">Persuasive and Effective</h2>
<ul onmouseover="changeDef(event, 10)">
<li><em>REACH:</em> More people will benefit from your promotions and offers.</li>
<li><em>REGULATION:</em> Improve compliance of critical customer messaging. </li>
</ul>
<h2 onmouseover="changeDef(event, 11)">Solution</h2>
<p onmouseover="changeDef(event, 11)">Mass mail, in electronic or printed form, can be made more inclusive and accessible. You might not know which of your customers are not going to read your messages. Our unique artificial intelligence means that you don't need to know - hundreds of thousands or even millions of personalised versions of your comms can be generated for just a few pennies per customer. </p>
<p onmouseover="changeDef(event, 12)">We automatically process, translate, and present your personalised bulk communications as compelling multi-media presentations.</p>
